@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffea20;
}

header {
  display: flex;
  justify-content: center;
}

/* NavBar section */

.navbar {
  margin: 0;
  width: 100%;
  background-color: #2c2e43;
  color: #b2b1b9;
}

.navbar.sticky {
  z-index: 5;
  margin: 5px;
  border-radius: 25px;
  opacity: 0.3;
  position: fixed;
}
.navbar.sticky:hover {
  margin: 0;
  border-radius: 0;
  opacity: 1;
  position: fixed;
  transition: 0.5s;
}

.navbar-content {
  margin: 0 auto;
  max-width: 1256px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  cursor: pointer;
}

.navbar-img img {
  width: 150px;
  height: 85px;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: #b2b1b9;
  position: relative;
}

.navbar ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffea20;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
}

.nav-menu .xmenu {
  display: none;
  cursor: pointer;
}

.social-media-icons {
  width: 150px;
  display: flex;
  justify-content: center;
}

.social-media-icons a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: #b2b1b9;
}

.social-media-icons a:hover {
  color: #ffea20;
  transition: 0.5s;
}

/* home section */

.container-1 {
  max-width: 1256px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(523px, 1fr));
  margin: 0 auto;
  padding-top: 20px;
  background-image: url(imgs/CSGO-Wallpaper-Desktop.jpg);
  background-size: cover;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-text h1 {
  font-size: 3.5rem;
  color: #2c2e43;
  padding: 10px;
}

.header-text p {
  font-size: 1.2rem;
  color: #2c2e43;
}

.header-img {
  display: flex;
  justify-content: center;
}

.header-img img {
  width: 100%;
  height: 100%;
}

.header-text button {
  font-size: 1.3rem;
  padding: 10px;
  border: 2px solid #2c2e43;
  border-radius: 7px;
  background-color: transparent;
  margin-top: 10px;
  color: #2c2e43;
}

.header-text button:hover {
  background-color: #2c2e43;
  color: #ffea20;
  transition: 0.3s;
  cursor: pointer;
}

/* sekcija 2 */

#about {
  background-color: #2c2e43;
}

.container-2 {
  max-width: 1256px;
  height: 100%;
  color: #b2b1b9;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.about-naslov {
  max-width: 1100px;
  height: 100%;
  color: #b2b1b9;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.about-naslov h1 {
  font-size: 2.8rem;
}

.about-naslov span {
  color: #ffea20;
}

.card {
  position: relative;
  border-right: 2px solid#b2b1b9;
  border-left: 2px solid#b2b1b9;
  border-collapse: collapse;
}

.card:hover {
  background-color: #ffea20;
  transition: 0.5s;
  cursor: pointer;
}

.read-more {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #2c2e43;
}

.card:hover .read-more {
  display: block;
  transition: 0.5s;
}

.card:hover .image-container {
  opacity: 0.2;
}

.image-container {
  font-size: 1rem;
  max-width: 250px;
  /* margin: 25px 0; */
  /* border-radius: 7px; */
  text-align: center;
  position: relative;
  padding: 10px;
}

.image-container img {
  width: 100%;
  border-radius: 7px;
}

.image-container p {
  padding: 10px;
}

@media screen and (max-width: 1045px) {
  .header-img img {
    width: 400px;
  }

  .header-img {
    padding: 20px;
  }
}

@media screen and (max-width: 992px) {
  .container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    background-image: url(imgs/CSGO-Wallpaper-Desktop-mobilni.jpg);
    background-size: cover;
  }

  /* navbar tableti */

  .navbar-content {
    justify-content: space-around;
  }

  .nav-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2e43;
    display: none;
    transition: top 1s ease;
  }

  .nav-menu li a {
    font-size: 2rem;
    padding: 10px;
  }

  .nav-menu .xmenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-text h1 {
    font-size: 2.8rem;
  }

  .header-img img {
    width: 300px;
  }
}
